<div class="container my-5">
    <h2 class="text-center mb-4">👤 <%= username %> - <%= __('profile') %>
    </h2>

    <h3 class="text-center mb-4">🎫 <%= __('mytickets') %>
    </h3>

    <% if (tickets.length===0) { %>
        <p class="text-center">Henüz hiç biletiniz yok.</p>
        <% } else { %>
            <div class="table-responsive">
                <table class="table table-striped table-hover text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>Etkinlik</th>
                            <th>Salon</th>
                            <th>Tarih</th>
                            <th>Koltuk No</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% tickets.forEach(ticket=> { %>
                            <tr>
                                <td>
                                    <%= ticket.eventName %>
                                </td>
                                <td>
                                    <%= ticket.rooms_Name %>
                                </td>
                                <td>
                                    <%= ticket.eventDate.toISOString().slice(0,10) %>
                                </td>
                                <td>
                                    <%= ticket.tickets_Seat_ID %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
            <% } %>
</div>