<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('sayfalar/header', { title: __('settings') }) %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/settings.css" rel="stylesheet" type="text/css">
    <script>
        <%- include('./sayfalar/alert.js') %>
    </script>
</head>
<body>
    <details class="theme-switcher">
        <summary style="margin-top: 1.5vh;"><%= __('chooselang') %></summary>
        <label class="theme-option">
            <input type="radio" style="margin-top: 20px;" id="tur"> Türkçe
        </label><br>
        <label class="theme-option">
            <input type="radio" style="margin-top: 20px;" id="en"> English
        </label><br>
    </details>

    <div class="theme-switcher">
        
        <button class="logout-button"  value="<%= __('logout') %>" onclick="logout()">
            <span class="explanation-text"><%= __('logout') %></span>
        </button>
        
    </div>




    <script>
        function logout()
        {

            location.replace('/logout?platform=web');
        }
    </script>


</body>

<script>
        var lang = "<%=lang%>";

        if(lang == "en")
        {
            document.getElementById("en").checked = true;
        }
        else if(lang == "tr")
        {
            document.getElementById("tur").checked = true;
        }
        

        function setLang(lang) {
            console.log(lang);

            fetch('/update-lang', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ lang: lang })
            }).then(response => {
                if (response.ok) {
                    console.log('Language preference updated');
                    window.location.reload();
                } else {
                    console.log('Failed to update language preference');
                }
            }).catch(error => console.error('Error:', error));
        }

        document.getElementById('tur').addEventListener('change', function() {
            if (this.checked) setLang('tr');
        });

        document.getElementById('en').addEventListener('change', function() {
            if (this.checked) setLang('en');
        });
</script>
</html>